.list-listHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listHeader__info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.list-countries-ul {
  list-style: none;
  overflow-y: scroll;
  height: 215px;
  padding: 5px;
}

.li__nameblock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-countries-ul__li {
  border: 1px solid white;
  margin: 5px 0px 5px 0px;
}

.list-countries-ul__li :hover {
  cursor: pointer;
}

.list__arrows :hover {
  cursor: pointer;
}

.set {
  background-color: brown;
}

.list-inputBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.list-input {
  background: rgba(0, 0, 0, .26);
  color: #84848b;
  border-style: none;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 7rem;
}

.form-example {
  display: flex;
  align-items: flex-end;
}

.virtKeyboard {
  background: #141422;
  border: none;
}

.virtKeyboard :hover {
  cursor: pointer;
}

.keyboardIcon {
  color: white;
}

.searchbtn {
  background: #141422;
  border: none;
}

.searchbtn :hover {
  cursor: pointer;
}

.loopIcon {
  color: white;
}

.sortbtn {
  padding: 5px;
  color: white;
  background-color: #e65425;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.sortbtn:hover {
  border-radius: 8px;
}

.sortbtn:focus {
  background-color: white;
  color: #e65425;
  outline: none;
}

.listSpanCases {
  font-weight: 600;
  color: rgb(44, 106, 240);
}

.listSpanDeaths {
  font-weight: 600;
  color: rgb(182, 10, 53);
}

.listSpanRecovered {
  font-weight: 600;
  color: rgb(14, 139, 108);
}
