body {
  background: linear-gradient(17deg, rgb(30, 1, 105), rgb(100, 2, 2));
  margin: 0;
  padding: 0;
}

.container {
  width: 1024px;
  height: 768px;
  margin: auto;
  border: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}

.header {
  height: 50px;
  width: 100%;
  border: 1px solid #eee;
  color: #aaa;
}

.map {
  width: 100%;
  height: 330px;
  border: 1px solid #eee;
  color: #aaa;
}

.table {
  width: 30%;
  height: 300px;
  border: 1px solid #eee;
  color: #aaa;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.dataList, .dataList {
  box-sizing: border-box;
  overflow-y: scroll;
}

.table p, .list p {
  cursor: pointer;
}

.table-nav, .list-nav, .schedule-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.schedule-nav {
  margin-bottom: -3px;
}

.table-btn__info, .list-btn__info, .schedule-btn__info {
  text-align: center;
  width: 300px;
  height: 20px;
  color: #fff;
}

.table-btn__left, .table-btn__right, .list-btn__left, .list-btn__right, .schedule-btn__left, .schedule-btn__right {
  cursor: pointer;
}

.list {
  width: 30%;
  height: 300px;
  border: 1px solid #eee;
  color: #aaa;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.schedule {
  width: 30%;
  height: 300px;
  border: 1px solid #eee;
  color: #aaa;
  box-sizing: border-box;
  overflow-y: scroll;
}

.footer {
  height: 50px;
  width: 100%;
  border: 1px solid #eee;
  color: #aaa;
}

.country-inner {
  cursor: pointer;
  margin: 3px;
}

.country-inner img {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 20px;
}

.table-nav__img {
  height: 40px;
}

.table-nav__info {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* color: rgb(44, 106, 240);   */
}
